
body {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 22px;
    margin: 0;
    padding: 0;
}

.actionPage {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.fpsPage {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.rpgPage {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.simulationPage {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.sportPage {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.strategiePage {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}

.title-homepage {
    display: flex;
    justify-content: center;
}

.logo {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.homepage_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.btn {
    width: 66%;
    height: 75px;
    margin: 20px;
    border-radius: 15px;
    font-size: 35px;
    background-color: cadetblue;
    color: white;
    font-weight: 900;
    border-color: black;
    border-width: 4px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0.5rem;
}

.logossocialnetworks img {
    max-width : 2rem;
    border-radius: 0.2rem;

}

    {box-sizing:border-box}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.gameSlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.gameSlideText {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    opacity: 1;
}


.blocAction {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.blocFPS {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blocRpg {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blocSimulation {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blocSport {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blocStrategie {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.gridLeft {
    border: black solid 2px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 300px;
    gap: 5px 10px;
    grid-template-areas:
    "cover details";
    margin-top: 20px;
}
.gridRight {
    display: grid;
    border: black solid 2px;
    border-radius: 5px;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 300px;
    gap: 5px 10px;
    grid-template-areas:
    "detailRight coverRight";
    margin-top: 5px;
}
.detailRight {
    grid-area: detailRight;
}
.coverRight {
    grid-area: coverRight;
    display: flex;
    justify-content: center;
    align-self: center;
}

.cover {
    grid-area: cover;
    display: flex;
    justify-content: center;
    align-self: center;
}
.details {
    grid-area: details;
}
#title {
    text-align: center;
}
#titleRight {
    text-align: center;
}

#listLeft {
    margin-left: -20px;
}
ul {
    list-style: none;
}


/*Star rating*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.line_of_stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

input.star {
    border: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
}

label.star {
    float: left;
    color: black;
    content: "\2605";
}

label.star:before {
    margin: 2px;
    content: "\2605";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: black;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}


input.star:checked ~ label.star:before {
    color: yellow;
}

label.star:hover ~ label.star:before {
    color: #ffdb70;

}

label.star:hover:before {
    color: yellow;
}


#cover1 {
    max-width: 250px;
    max-height: 250px;
}


