:root{
    --body-color: F4F091;
    --homepage-backgrnd: #AEBCC;
    --homepage-welcome-title: #284879;
    --homepage-footer-text-btn-text: #C8DDF7;
    --homepage-footer-backgrnd: #3855A3;
    --homepage-btn135-backgrnd: #283876;
    --homepage-btn246-backgrnd: #345FA4;
    --navbar-text-sidepage: #E1EDFB;
    --navbar-action-backgrnd: #B52d35;
    --action-backgrnd: #EC9DA1;
    --navbar-fps-backgrnd: #B10CA0;
    --fps-backgrnd: #E2B1DD;
    --navbar-rpg-backgrnd: #2c35ac;
    --rpg-backgrnd: #BCBFEF;
    --navbar-simu-backgrnd: #189627;
    --simu-backgrnd: #91CC98;
    --navbar-strategy-backgrnd: #0BB9A6;
    --strategy-backgrnd: #B2E7E1;
    --navbar-sport-backgrnd: #E99025;
    --sport-backgrnd: #F7CB96;

/*
    --action-text: #E1EDFB;
    --action-form-backgrnd: #242C4A;
    --action-box-border: #000000;

    --fps-text: #00004F;
    --fps-form-backgrnd: #8BA3C5;
    --fps-box-border: #000000;

    --rpg-text: #E1EDFB;
    --rpg-form-backgrnd: #22454D;
    --rpg-box-border: #000000;

    --simu-text: #00004F;
    --simu-form-backgrnd: #72AAD3;
    --simu-box-border: #000000;

    --sport-text: #E1EDFB;
    --sport-form-backgrnd: #272C45;
    --sport-box-border: #000000;

    --strategy-text: #E1EDFB;
    --strategy-form-backgrnd: #1E3951;
    --strategy-box-border: #000000;
*/

}


html{
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
}
footer {
    flex-shrink: 0;
}


body {
        height: 100%;
        background-color: #8BA3C5;
        font-family: 'Roboto Slab';
        font-size: 22px;
        margin: 0;
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
    }


.actionPage {
    background-color: var(--action-backgrnd);
    font-family: 'Roboto Slab';font-size: 15px;
    margin: auto;
    padding: 0;
    width: auto;

}
.fpsPage {
    background-color: var(--fps-backgrnd);
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.rpgPage {
    background-color: var(--rpg-backgrnd);
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.simulationPage {
    background-color: var(--simu-backgrnd);
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.sportPage {
    background-color: var(--sport-backgrnd);
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.strategiePage {
    background-color: var(--strategy-backgrnd);
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}

.title-homepage {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}

.logo {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 600px){

    .homepage_btn form{
        margin: 0;
        padding: 0;
    }

    .homepage_btn div{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .btn {
        box-sizing: border-box;
        margin: auto;
        width: 100%;
        height: 75px;
        margin: 20px;
        border-radius: 15px;
        font-size: 35px;
        background-color: cadetblue;
        color: white;
        font-weight: 900;
        border-color: black;
        border-width: 2px;
    }
}



@media screen and (min-width: 600px) {
    .homepage_btn form{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .homepage_btn {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: no-wrap;
    }

    .homepage_btn div{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin:  0;
        width: 18rem;
    }

    .btn {
        text-align: center;
        box-sizing: border-box;
        margin: 20px auto;
        width: 100%;
        height: 75px;
        border-radius: 15px;
        font-size: 35px;
        background-color: cadetblue;
        color: white;
        font-weight: 900;
        border-color: black;
        border-width: 2px;
    }
}

.btn:hover {
    background: linear-gradient(to bottom, #0061A7 5%, #007DC1 100%);
    background-color: var(--homepage-btn135-backgrnd);
    border-color: white;
    cursor: pointer;
}

/* start footer */
@media screen and (max-width: 600px) {

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0 0.5rem;
    }
}

@media screen and (min-width: 600px) {

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 1rem;
    }
}

.logossocialnetworks img {
    max-width: 2rem;
    border-radius: 0.2rem;
    margin: 12px;
    padding: 10px;
}

/* end footer */

    {box-sizing:border-box}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.gameSlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.gameSlideText {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px #020822, 0 0 1em #070732, 0 0 0.2em #060630;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    opacity: 1;
}

.blocAction {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

.blocFPS {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blocRpg {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blocSimulation {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blocSport {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blocStrategie {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.gridLeft {
    width: 95%;
    border: black solid 1px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 300px;
    gap: 5px 10px;
    grid-template-areas:
    "cover details";
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow:auto;
}
.gridRight {
    display: grid;
    width: 95%;
    border: black solid 1px;
    border-radius: 5px;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 300px;
    gap: 5px 10px;
    grid-template-areas:
    "detailRight coverRight";
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow:auto;
}
.detailRight {
    grid-area: detailRight;
}
.coverRight {
    grid-area: coverRight;
    display: flex;
    justify-content: center;
    align-self: center;
    overflow:auto;
}

.cover {
    grid-area: cover;
    display: flex;
    justify-content: center;
    align-self: center;
    overflow:auto;
}
.details {
    grid-area: details;
}
#title {
    text-align: center;
}
#titleRight {
    text-align: center;
}

ul {
    list-style: none;
}

/* start form */

form {
    width: 80%;
    margin: auto;
    margin-top: 3rem;
}

#form-btn {
    background-color: #1d1d1d;
    border-color: #8BA3C5;
}

.error {
    color: #721616;
}

#thanks {
    color: #0f0f4e;
}

.buttonSubmit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*Star rating*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.line_of_stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

input.star {
    border: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
}

label.star {
    float: left;
    color: black;
    content: "\2605";
}

label.star:before {
    margin: 2px;
    content: "\2605";
    font-family: FontAwesome;
    font-size: 1.5em;
    color: black;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}


input.star:checked ~ label.star:before {
    color: #ffc21c;
}

label.star:hover ~ label.star:before {
    color: #fadc27;

}

label.star:hover:before {
    color: #fcb614;
}

/* end form */


#cover1 {
    max-width: 250px;
    max-height: 250px;
}
#cover2 {
    max-width: 250px;
    max-height: 250px;
}

/* start navbar */

.navbar-brand{
    width: 4rem;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}

.container-fluid{
    padding: 0;
}
.buttonarticle {
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
    background-color:#007dc1;
    border-radius:23px;
    border:1px solid #124d77;
    display: inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    padding:12px 14px;
    text-decoration:none;
    text-shadow:0 0 0 #154682;
}
.buttonarticle:hover {
    background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
    background-color: #0061a;
}
.buttonarticle:active {
    position:relative;
    top:1px;
}

/* end navabar */
