body {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 22px;
    margin: 0;
    padding: 0;
}

.actionPage {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.fpsPage {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.rpgPage {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.simulationPage {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.sportPage {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}
.strategiePage {
    background-color: #BDC0FA;
    font-family: 'Roboto Slab';font-size: 15px;
    margin: 0;
    padding: 0;
}

.title-homepage {
    display: flex;
    justify-content: center;
}

.logo {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.homepage_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.btn {
    width: 66%;
    height: 75px;
    margin: 20px;
    border-radius: 15px;
    font-size: 35px;
    background-color: cadetblue;
    color: white;
    font-weight: 900;
    border-color: black;
    border-width: 4px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0.5rem;
}

.logossocialnetworks img {
    max-width : 2rem;
    border-radius: 0.2rem;
}
.blocAction {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.blocFPS {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blocRpg {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blocSimulation {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blocSport {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.blocStrategie {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.gridLeft {
    border: black solid 2px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 300px;
    gap: 5px 10px;
    grid-template-areas:
    "cover details";
    margin-top: 20px;
}
.gridRight {
    display: grid;
    border: black solid 2px;
    border-radius: 5px;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 300px;
    gap: 5px 10px;
    grid-template-areas:
    "detailRight coverRight";
    margin-top: 5px;
}
.detailRight {
    grid-area: detailRight;
}
.coverRight {
    grid-area: coverRight;
    display: flex;
    justify-content: center;
    align-self: center;
}

.cover {
    grid-area: cover;
    display: flex;
    justify-content: center;
    align-self: center;
}
.details {
    grid-area: details;
}
#title {
    text-align: center;
}
#titleRight {
    text-align: center;
}

#listLeft {
    margin-left: -20px;
}
ul {
    list-style: none;
}

#cover1 {
    max-width: 250px;
    max-height: 250px;
}
